@charset "utf-8";

/*********************************************
 clearfix のみ初めに定義しています
*********************************************/
.clearfix {
	zoom:1;
}
.clearfix:after {
	content:"";
	display: block;
	clear: both; height: 0;
	visibility:hidden;
}

/****ここから入力してください****/
body {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

ul {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

#head {
	width: 100%;
}

#head_contents {
	width: 980px;
	margin: 0 auto;
}

#head_contents p {
	font-size: 13px;
	margin: 10px;
}

#head_contents img {
	margin-bottom: 15px;
}

#menu {
	width: 100%;
	background-color: #001754;
}

#menu ul {
	width: 980px;
	margin: 0 auto;
}

#menu ul li {
	color: #fff;
	width: 25%;
	padding: 15px 0;
	margin: 0 auto;
	float: left;
	border-left: 1px solid #ffffff;
	list-style: none;
	text-align: center;
	box-sizing: border-box;
}

#bor_right {
	border-right: 1px solid #ffffff;
}

#contents {
	width: 980px;
	margin: 0 auto;
}

#main_column {
	width: 700px;
	float: left;
}

.title {
	background-color: #001754;
	color: #fff;
	padding: 6px 0 6px 4px;
	margin-top: 20px;
}

#service {
	margin-top: 20px;
}

.content {
	width: 220px;
	float: left;
}

.mr20 {
	margin-right: 20px;
}

.content p {
	font-size: 13px;
}

.contents_title {
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	margin: 5px 0;
}

.contents_description {
	font-size: 13px;
	margin-top: 5px;
}

#require {
	font-size: 14px;
	margin: 10px 0;
}

#require li {
	margin-left: 19px;
}

#main_sentence {
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 2px solid #000;
}

#principal {
	margin: 20px 0;
}

#principal p {
	font-size: 14px;
}

.mb20 {
	margin-bottom: 20px;
}

#knowhow {
	margin: 20px 0 10px 0;
}

form {
	margin-top: 20px;
}

#table_form {
	width: 700px;
}

table {
	border-collapse: collapse;
  border-spacing: 0;
}

#table_form tr {
	height: 50px;
	text-align: left;
}

.item {
	width: 240px;
	padding-left: 10px;
	background-color: #ccc;
	border-bottom: 1px solid #fff;
}

.input_data {
	width: 460px;
	height: 49px;
	padding-left: 10px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.text_area {
	padding-top: 20px;
	padding-bottom: 20px;
}

textarea {
	width: 360px;
}

#btn {
	width: 55px;
	margin: 20px auto;
	margin-bottom: 50px;
}

input#submit_button {
    padding: 2px 5px;
    font-size: 15px;
    background-color: #ccc;
    border-style: none;
		border-right: 1px solid #808080;
		border-bottom: 1px solid #808080;
		box-shadow: 2px 2px #000;
}

#side_column {
	width: 260px;
	float: right;
}

#side_column img {
	margin-top: 20px;
}

#foot {
	width: 100%;
	border-top: 2px solid #000;
}

#foot_contents {
	width: 980px;
	margin: 0 auto;
}

#foot_contents img {
	margin: 10px 0;
}

#foot p {
	color: #fff;
	font-size: 15px;
	background-color: #001754;
	text-align: center;
	padding: 3px 0;
	margin: 0;
}

@media(max-width:580px) {

	#head {
		width: 96%;
		margin: 0 auto;
	}

	#head_contents {
		width: 100%;
	}

	#head_contents p {
		font-size: 2px;
	}

	#head_contents img {
		width: 200px;
	}

	#menu {
		width: 96%;
		margin: 0 auto;
		background-color: #001754;
	}

	#menu ul {
		width: 100%;
		margin: 0 auto;
	}

	#menu ul li {
		color: #fff;
		width: 25%;
		padding: 6px 0;
		margin: 0 auto;
	}

	#contents {
		width: 100%;
		margin: 0 auto;
	}

	.content {
		width: 100%;
	}

	#main_column {
		width: 100%;
		margin: 0 auto;
	}

	.title {
		width: 96%;
		margin: 0 auto;
		margin-top: 1px;
	}

	#service {
		width: 96%;
		margin: 20px auto;
	}

	.content {
		width: 100%;
		margin: 0 auto;
	}

	.content img {
		width: 100%;
	}

	.content p {
		font-size: 18px;
		margin: 10px 10px;
	}

	.contents_title {
		margin: 10px 0;
	}

	.contents_description {
		font-size: 13px;
		margin: 5px 0 20px;
	}

	#require {
		margin: 10px 15px;
	}

	#main_sentence {
		margin: 10px 10px;
	}

	#principal {
		margin: 10px 10px 20px;
	}

	#principal p {
		font-size: 11px;
		line-height: 3px;
	}

	#knowhow {
		margin: 10px 10px 20px;
	}

	form {
		width: 98%;
		margin: 20px auto;
	}

	table {
		width: 98%;
		margin: 0 auto;
	}

	#table_form {
		width: 100%;
		margin: 0 auto;

	}

	#table_form tr {
		width: 100%;
	}

	#table_design {
		border: 1px solid #ccc;
	}

	.item {
		width: 100%;
		padding-left: 0;
		float: left;
		border-bottom: 0 solid #fff;
	}

	.input_data {
		width: 100%;
		height: 40px;
		padding-top: 20px;
		border-top: 0px solid #ccc;
		border-right: 0px solid #ccc;
		border-bottom: 0px solid #ccc;
		float: left;
	}

	textarea {
		height: 90px;
	}

	#ta {
		height: 100px;
	}

	#btn {
		width: 100%;
		margin: 20px auto;
		margin-bottom: 10px;
		text-align: center;
	}

	input#submit_button {
	  padding: 8px 20px;
	  font-size: 30px;
	}

	#side_column {
		width: 96%;
		margin: 0 auto;
	}

	#side_column img {
		width: 96%;
		margin: 20px auto;
	}

	#foot {
		width: 100%;
		border-top: 2px solid #000;
	}

	#foot_contents {
		width: 100%;
		margin: 20px auto;
		text-align: center;
	}

	#foot_contents img {
		width: 220px;
	}

	#foot p {
		color: #fff;
		font-size: 15px;
		background-color: #001754;
		text-align: center;
		padding: 0px 0;
	}

	#principal p {
		line-height: 15px;
	}

}
